*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
body{
    background-color: lightblue;
}
header{
    text-align:center;
}
.header-container{
    display: flex;
    justify-content:center;
    margin-top: 15px;
}
.main-container{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap:wrap;
}
.main-container__aside{
    padding: 10px;
    width: 50%;
}
.main-conatiner__articles{
    padding: 10px;
    width: 50%;
}
.main-conatiner__articles__title{
    text-align: center;
    padding: 2px;
    padding-bottom: 5px;
}
article{
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-container__aside__image{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.form{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer-container{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.form__fieldset{
    padding: 10px;
    margin-bottom: 5px;
}
#form__submitButton{
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#form__submitButton:hover{
    background-color: #4CAF50;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}
@media only screen and (max-width: 1080px) {
    .main-container{
        flex-direction:column;
    }
    .main-container__aside{
        width: 100%;
    }
    .main-conatiner__articles{
        width: 100%;
    }
}